<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Spring Boot Angular2 Blog</h1>
                    <hr class="small">
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container" *ngFor="let post of posts">
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-preview">
            <a (click)="gotoDetail(post)" style="cursor: hand">
            <h2 class="post-title">
                {{post.title}}
            </h2>
            <h3 class="post-subtitle">
                {{post.subtitle}}
            </h3>
            </a>
            <p class="post-meta">Posted by <a href="#">{{post.author}}</a> on {{post.date}}</p>
        </div>
        <hr>
    </div>
</div>
</div>