<br><br>
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading" *ngIf="post">
                    <h1>{{post.title}}</h1>
                    <h2 class="subheading">{{post.subtitle}}</h2>
                    <span class="meta">Posted by <a href="">{{post.author}}</a> on {{post.date}}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<article *ngIf="post">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div [innerHTML]="post.content"></div>
            </div>
        </div>
    </div>
</article>


